.container-fluid {
	padding: 0;
	margin: 0;
}
.head-bg {
	background-image: url(../img/azs-header.png);
	max-width: 100%;
	height: 726px;
}
.head-box-bg {
	background-image: url(../img/azs-pistolet-header.png);
	height: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
	
}
.head-box {
	width: 100%;
}
.head-top-box-img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 0 0 0;
}
.top-red-btn {
	margin: 0 20px 0 0;
	padding: 5px 20px 5px 35px;
	border-radius: 30px;
	background: #F34F3E;
}
.head-title h2 {
	text-transform: uppercase;
	font-size: 44px;
}
.head-title p {
	font-weight: 500;
}
.head-title h2:after {
	content: url(../img/border-mini-red.png);
	display: block;
	margin: -20px 0 20px 0;
	
}
.title-red-btn {
	background: #F34F3E;
	color: #fff;
	border-radius: 30px;
	font-size: 12px;
	padding: 10px 20px;
	margin: 20px 0 0 0;
}
.head-title {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 658px;
}
.white-bg {
	background: #fff;
}
.w-title h2 {
	padding: 70px 0 70px 0;
}
.card-block {
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {
	align-items: center;
	border: none;
}
.card-body {
	font-weight: 500;
}
.arw {
	margin: 0 0 60px 0;
}
.btn-arw {
	color: #000;
	font-size: 22px;
	background-image: url(../img/btn-bg.png);
	background-repeat: no-repeat;
	height: 60px;
	width: 689px;
}
.card-box {
	display: flex;
	justify-content: center;
	padding: 70px 0 70px 0;
}
.incar-bg {
	background: #3F526A;
	background-image: url(../img/in-car.png);
	height: 550px;
    background-repeat: no-repeat;
	background-position: bottom right;
	
}
.incar-title {
	height: 550px;
	color: #fff;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}
.incar-title h2 {
	text-transform: uppercase;
	margin: 0 0 20px;
}
.incar-title p {
	width: 75%;
	margin: 0 0 20px;
}
.map-bg {
	/* background-image: url(../img/map.png); */
	position: relative;
	height: 680px;
    background-repeat: no-repeat;
}
.map-block {
	position: absolute;
	top: 10vh;
}
.trapecia {
	background-image: url(../img/trapecia.png);
	height: 254px;
	width: 441px;
    background-repeat: no-repeat;
}
.trapecia {
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	margin: 65px 0 0;
}
.trapecia p {
	font-size: 20px;
    font-weight: 500;
    width: 50%;
    line-height: 1.5;
}
.img-block {
	width: 52%;
    display: flex;
    justify-content: flex-start;
}
.img-block img {
	margin: 0 7px 0;
}
.w-footer {
	background: #fff;
}
.foot-block {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.right-foot ul {
	list-style: none;
	text-align: right;
	color: #8A9097;
	font-size: 12px;
}
/* talons */
.top-nav-bg {
	background: #41556C;
}
.container-top-talon {
	padding: 0;
}
.navbar {
	height: 80px;
	background: #41556C;
	color: #fff;
}
.navbar-nav .nav-item .nav-link {
	color: #fff;
}
.navbar-nav .nav-item .nav-link:hover {
	color: #F34F3E;
}
.navbar-light .navbar-nav .active>.nav-link {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 7px 20px;
}
.navbar-nav .nav-item .exit-link {
	color: #F34F3E;
	border: 1px solid #F34F3E;
	border-radius: 30px;
	padding: 7px 20px;
	margin: 0 30px 0;

}
.navbar-nav .nav-item .exit-link:hover {
	color: #fff;
	border: 1px solid #fff;
}
.nav-flex {
	justify-content: flex-end;
    width: 75%;
}
.nav-flex li {
	margin: 0 50px 0 20px;
}
.nav-flex-r {
	justify-content: flex-end;
    display: flex;
    width: 25%;
}
.dropdown-menu {
	min-width: 0;
}
.talon-choice {
	background: #EEF4FC;
}
.talon-title {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	padding: 70px 0 0;
}
.talon-title h2 {
	font-size:34px;
}
.link-block {
	padding: 25px 0 20px;
}
.link-block a {
	font-weight: 500;
	color: #F34F3E;
	text-transform: uppercase;
	border-bottom: 2px solid #F34F3E;
	padding: 0 5px 5px;
	margin: 0 30px;
	text-decoration: none;
}
.link-block .link-not-active {
	color: #A4B5BC;
	text-transform: uppercase;
	border-bottom: 2px solid #A4B5BC;
	padding: 0 20px 5px;
}
.talon-title button {
	font-size: 20px;
	padding: 12px 70px;
}
.talon-title button:hover {
	color: #F34F3E;
	background: #fff;
	border: 1px solid #F34F3E;
}
.azs-talon-choice {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	margin: 25px 0 0;
	padding: 0 0 100px;;
}
.talon-card {
	background: #fff;
	width: 50%;
    display: flex;
    align-items: center;
	justify-content: space-around;
	padding: 13px 10px;
	margin: 15px 0;
	border-radius: 5px;
	box-shadow: -webkit-box-shadow: 10px 10px 9px -11px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 10px 9px -11px rgba(0,0,0,0.38);
	box-shadow: 10px 10px 9px -11px rgba(0,0,0,0.38);
}
.azs-talon-txt {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 10px 10px;
	border-left: 1px solid #E5ECF6;
}
.azs-talon-txt h3 {
	margin: 0;
	padding: 0;
}
.azs-talon-txt p {
	margin: 0;
	padding: 0;
}
.emergency-exit {
	display: none;
}
.mob-nav {
	display: none;		
}
.mob-img {
	display: none;
}
.qr-btn{
	display: none;
}

/* ----------------------------------------------------------------------------------media */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
{
	.emergency-exit {
		display: block;
		text-align: right;
	}
	.nav-mob {
		display: flex;
		justify-content: flex-end;
	}
	.mob-nav {
		background: #fff;
		display: block;
	}
	.nav-menu-block {
		display: flex;
		justify-content: space-around;
		width: 100%;
		align-items: center;
		height: 60px;
	}
	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.item p {
		margin: 0;
	}
	.item a {
		color: #6D747D;
	}
	.talon-title {
		padding: 40px 0 0;
	}
	.talon-card {
		width: 90%;
		padding: 13px 10px;
	}
	.mob-img {
		display: block;
	}
	.web-img {
		display: none;
	}
	.azs-talon-txt h3 {
		font-size: 18px;
	}
	.azs-talon-txt p {
		font-size: 12px;
	}
	
	.azs-talon-choice {
		padding: 0 0 50px;
	}
	.foot-block {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.right-foot ul {
		text-align: center;
		padding: 15px 0 0;
	}
	/* index */
	.arw {
		display: none;
	}
	.head-top-box-img {
		justify-content: center;
	}
	.card-block {
		display: block;
	}
	.head-box-bg {
		 background-image: none; 
	}
	.head-title {
		align-items: center;
		text-align: center;
	}
	.title-red-btn {
		font-size: 20px;
		padding: 10px 60px;
	}
	.btn-arw {
		display: none;
	}
	.qr-btn{
		display: block;
		padding: 10px 50px;;
	}
	.incar-bg {
		background-image: none;
	}
	.incar-title {
		align-items: center;
		width: 100%;
		text-align: center;
		padding: 0 5px;
	}
	.map-block {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.trapecia {
		background-image: none ;
		height: 254px;
		width: 293px;
		background: #fff;
		text-align: center;
		margin: 0;
	}
}